<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    {% block css %}{% endblock %}
    <title>simple todo</title>
</head>
<body>
    <nav class="navbar is-dark">
        <div class="navbar-brand">
            <p class="navbar-item">Simple Todo</p>
            <!-- <h1 class="navbar-item title">simple todo</h1> -->
            <!-- <a class="navbar-item" href="{{ url_for('todo.index') }}">simple todo</a> -->
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ url_for('todo.index') }}">Todo</a>               
                <a class="navbar-item" href="{{ url_for('todo.history') }}">History</a>
            </div>
            <div class="navbar-end">
                {% if current_user.is_authenticated %}
                    <a class="navbar-item" href="{{ url_for('auth.changepassword') }}">{{ current_user.username }}</a>
                    <a class="navbar-item" href="{{ url_for('auth.logout') }}">logout</a>
                {% else %}
                    <a class="navbar-item" href="{{ url_for('auth.login') }}">login</a>
                    <a class="navbar-item" href="{{ url_for('auth.signup') }}">signup</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            {% block page_content %}{% endblock %}
        </div>
    </section>
    {% block js %}{% endblock %}
</body>
</html>