* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.todo-item-selected {
    text-decoration: line-through;
}

.todo-item:checked + label {
    text-decoration: line-through;
}

.paginator a {
    text-decoration: none;
}