{% extends 'base.html' %}

{% block page_content %}
<div class="columns">
    <div class="column is-8 is-offset-2 has-text-centered">
        <div class="block">
            {% include 'snippets/flash_messages.html' %}
            {% include 'snippets/form_errors.html' %}
        </div>
        <form action="{{ url_for('auth.changepassword') }}" method="post">
            {{ form.csrf_token }}
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">old password:</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            {{ form.old_password(class='input', placeholder='old password...') }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">new password:</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            {{ form.new_password(class='input', placeholder='new password...') }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">confirm new password:</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            {{ form.confirm_password(class='input', placeholder='confirm new password...') }}
                        </p>
                    </div>
                </div>
            </div>
            <input class="button is-dark" type="submit" value="Change">
        </form>
    </div>
</div>
{% endblock %}