{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/todo/todo.css') }}">
{% endblock %}

{% block page_content %}
<div class="column">
    <div class="column is-10 is-offset-1 has-text-centered">
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Todo</th>
                    <th>Created at</th>
                    <th>Finished at</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in ctx.todos %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ todo.text }}</td>
                        <td>{{ todo.created_at }}</td>
                        <td>{{ todo.finished_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% if ctx.pagination.page_count > 1 %}
            {% include 'snippets/paginator.html' %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block js %}

{% endblock %}