{% extends 'todo/base.html' %}

{% block page_content %}
<div class="todo">
    <section class="create">
        <form action="{{ url_for('todo.create_todo') }}" method="post">
            <input type="text" name="new-todo" id="new-todo">
            <input type="submit" value="Add">
        </form>
    </section>
    <section class="todo-list">
        <ul>
            {% for todo in todos %}
                <li><label><input type="checkbox" name="" id="">{{ todo.text }}</label></li>
            {% endfor %}
        </ul>
        <button>finish</button>
    </section>
</div>
{% endblock %}